<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookSpark</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BookSpark.styles.css" asp-append-version="true" />

    <style>
        body, main{
            background-color: #BBAB94;
        }
        #footer{
            background-color: white;
        }
        #nabar{
            background-color: #BBAB94;
            border: solid #BBAB94 !important;
            transition: all 0.3s ease;
        }
        #nabar:hover{
            border: solid #BBAB94;
            box-shadow: 0 15px 30px 10px #BBAB94;
        }
        nav{
            border: solid #BBAB94 !important;
            background-color: #BBAB94;
        }
        .boton{
            color: #FEEEBD !important;
            border-radius: 20px;
            border: solid #FEEEBD;
            transition: all 0.3s ease;
        }
        .boton:hover{
            background-color: #FEEEBD !important;
            color: #BBAB94 !important;
            transform: scale(1.1);
            box-shadow: 0 15px 30px 10px #BBAB94;
        }
        #adminform{
            display:flex;
            min-width:15%;
        }
        #adminkeyinput{
            margin-left:0px;
        }
        #adminbtn{
            margin-right:0px;
        }
    </style>
</head>
<body>
    <header id="navigationbar">
        <nav id="nabar" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BookSpark</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (ViewContext.RouteData.Values["controller"] is not null && !string.IsNullOrEmpty(ViewContext.RouteData.Values["controller"].ToString()))
                        {
                            var controllerName = ViewContext.RouteData.Values["controller"].ToString();
                            if (!controllerName.Equals("Home", StringComparison.OrdinalIgnoreCase) && !controllerName.Equals("Book", StringComparison.OrdinalIgnoreCase))
                            {
                                <li class="nav-item">
                                    <a class="boton nav-link text-dark" asp-area="" asp-controller="Book" asp-action="Index">Books</a>
                                </li>
                            }
                        }

                        <li class="nav-item">
                            <a class="boton nav-link text-dark" asp-area="" asp-controller="Wishlist" asp-action="Index">My wishlist</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                        <li class="nav-item">
                            <a class="boton nav-link text-dark" asp-area="" asp-controller="Author" asp-action="Index">Authors</a>
                        </li>
                        }
                        @if (User.IsInRole(BookSpark.Data.Enums.Roles.Admin.ToString()))
                        {
                        <li class="nav-item">
                            <a class="boton nav-link text-dark" asp-area="" asp-controller="Genre" asp-action="Index">Genres</a>
                        </li>
                        <li class="nav-item">
                            <a class="boton nav-link text-dark" asp-controller="Book" asp-action="Add">Add book</a>
                        </li>
                        <li class="nav-item">
                            <a class="boton nav-link text-dark" asp-area="" asp-controller="Genre" asp-action="Add">Add genre</a>
                        </li>
                        <li class="nav-item">
                            <a class="boton nav-link text-dark" asp-area="" asp-controller="Author" asp-action="Add">Add author</a>
                        </li>
                        }

                    </ul>
                </div>
            </div>


                <form id="adminform" asp-area="" asp-controller="User" asp-action="SetAdminRole" method="post">
                    <div id="adminkeyinput" class="form-floating mb-3">
                        <input id="adminkey" name="adminKey" class="form-control" autocomplete="off" aria-required="true" placeholder="Admin Key" type="password"/>
                        <label for="adminkey">Admin Key</label>
                    </div>
                    <button id="adminbtn" type="submit" class="btn btn-primary">Submit</button>
                </form>

            @if (User.IsInRole(BookSpark.Data.Enums.Roles.Admin.ToString()))
            {
                <div id="adminrole" class="navbar-text">You are an admin</div>
                <a id="gobacktouserrole" class="nav-item boton nav-link text-dark" asp-area="" asp-controller="User" asp-action="SetUserRole">Go back to a user role</a>
            }
            <partial name = "_LoginPartial" />
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @* <footer id="footer1" class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - BookSpark - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
