@using BookSpark.Data.Entities
@using BookSpark.Models.BookViewModels
@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "Home Page";
}

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<style>
    
    html, body, main{
        background-color: #FEEEBD;
    }
    nav{
        background-color: #BBAB94 !important;
    }
    .image{
        text-align: center;
    }
    #footer{
        background-color: white;
    }
    #hi {
        display: flex;
        justify-content: center;
    }
    #booksbtn{
        min-width: 50%;
        font-size: 150%;
        background-color: #BBAB94;
        color: #FEEEBD !important;
        border-color: white;
        transition: all 0.3s ease-in-out;
        border-radius: 40px;
    }
    #booksbtn:hover{
        color: #BBAB94 !important;
        background-color: #FEEEBD;
        transform: scale(1.1);
        box-shadow: 0 15px 30px 10px #BBAB94;
    }
    .btn-secondary{
        border-radius: 10px;
        color: #737373;
        background-color: white;
    }
    .btn-secondary:hover{
        color: #737373;
        background-color: white;
        box-shadow: 0 15px 30px 10px rgba(0, 0, 0, 0.5);
    }
    image{
        min-width: 150%;
    }
</style>
<main class="main" role="main">

    <section class="jumbotron text-center">
        <p>
            <div class="image">
                <img src="https://i.ibb.co/j6rR5st/Book-Spark12345.png" />
            </div>
        </p>
        <div class="container">
            <p id="hi">
                <a id="booksbtn" class="nav-link text-dark" asp-area="" asp-controller="Book" asp-action="Index">Books</a>

                @if (!SignInManager.IsSignedIn(User))
                {
                    <partial name="_LoginPartial" />
                }
            </p>
        </div>
    </section>
</main>

