@using BookSpark.Models.BookViewModels
@{
    ViewData["Title"] = "Home Page";
}
<style>
    html{
        background-color:black;
    }

    ."btn btn-primary my-2"{
        height:200%;
        width:
    }
</style>
<main class="main" role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">BookSpark</h1>
            <p>
                <a href="#" class="btn btn-primary my-2">Books</a>
                <a href="#" class="btn btn-secondary my-2">Log in</a>
                <a href="#" class="btn btn-secondary my-2">Register</a>
            </p>
        </div>
    </section>
    <p>
        <img src="https://i.ibb.co/4Y7b108/Logo-black.png" />
    </p>
</main>

